# Default values for chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  commonLabels: {}
  commonAnnotations: {}
  imagePullSecrets: []
  # -- Wait-For-App initContainers details
  waitForInitContainer:
    ## image version
    ## ref: https://hub.docker.com/r/harness/helm-init-container/tags
    # --image.registry ; image registry
    # --image.repository ; image repository
    # --image.tag ; image tag (immutable tags are recommended)
    # --image.digest ; image digest in the way sha256:aa.... Please note this parameter, if set, will override the tag
    # --image.pullPolicy Image pull policy
    # --image.imagePullSecrets Specify docker-registry secret names as an array
    image:
      registry: docker.io
      repository: harness/helm-init-container
      pullPolicy: Always
      tag: "latest"
      digest: ""
      imagePullSecrets: []
    resources:
      limits:
        memory: 500Mi
      requests:
        cpu: 500m
        memory: 500Mi
    securityContext:
      runAsUser: 65534
      runAsNonRoot: true
    enabled: true
  autoscaling:
    enabled: true
    minReplicas: 3
    maxReplicas: 100
    targetCPU: 80
  ingress:
    # -- create ingress objects
    enabled: false
    disableHostInIngress: false
    pathPrefix: ""
    pathType: ""
    # -- set ingress object classname
    className: harness
    # -- set host of ingressObjects
    hosts:
      - my-host.example.org
    # -- set tls for ingress objects
    tls:
      enabled: true
      secretName: ''
    # -- add annotations to ingress objects
    objects:
      annotations: {}
  istio:
    # -- create virtualServices objects
    enabled: false
    # -- create gateway and use in virtualservice
    gateway:
      create: false
    # -- if gateway not created, use specified gateway and host
    virtualService:
      gateways:
      hosts:
  monitoring:
    enabled: false
    managedPlatform: ""
  serviceUpStream:
    enabled: false

command:
  - "/app/mcp-server"
args:
  - "http-server"
# This will set the replicaset count more information can be found here: https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/
replicaCount: 3
# -- deployment.updateStrategy.type Deployment strategy type
## ref: https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#update-strategies
## e.g:
updateStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 25%
    maxUnavailable: 25%
# -- schedulerName Specifies the schedulerName, if it's nil uses kube-scheduler
## https://kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/
##
schedulerName: ""
# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
  repository: nginx
  # This sets the pull policy for images.
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""
# -- terminationGracePeriodSeconds In seconds, time the given to the pod needs to terminate gracefully
## ref: https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods
##
terminationGracePeriodSeconds: "60"
# -- set progressDealineSeconds in seconds, number of seconds the Deployment controller waits before indicating failure
## ref: https://kubernetes.io/docs/concepts/workloads/controllers/deployment/
progressDeadlineSeconds: 120
pdb:
  # --pdb.create Enable/disable a Pod Disruption Budget creation
  ##
  create: true
  # --pdb.minAvailable Minimum number/percentage of pods that must still be available after the eviction
  ##
  minAvailable: 50%
  # --pdb.maxUnavailable Maximum number/percentage of pods that may be made unavailable after the eviction
  ##
  maxUnavailable: ""
## image version
## ref: https://hub.docker.com/r/harness/accesscontrol-service-signed/tags
# --image.registry ; image registry
# --image.repository ; image repository
# --image.tag ; image tag (immutable tags are recommended)
# --image.digest ; image digest in the way sha256:aa.... Please note this parameter, if set, will override the tag
# --image.pullPolicy Image pull policy
# --image.imagePullSecrets Specify docker-registry secret names as an array
image:
  registry: us.gcr.io/platform-205701
  repository: harness/mcp-server-external
  pullPolicy: IfNotPresent
  tag: "0.0.9"
  digest: ""
  imagePullSecrets: []
# This is for the secrets for pulling an image from a private repository more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: []
# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

# This section builds out the service account more information can be found here: https://kubernetes.io/docs/concepts/security/service-accounts/
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# This is for setting Kubernetes Annotations to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
podAnnotations: {}
# This is for setting Kubernetes Labels to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
podLabels: {}


monitoring:
  port: 8889
  path: /metrics

podSecurityContext: {}
  # fsGroup: 2000

securityContext:
  runAsUser: 65534
  runAsNonRoot: true

service:
  annotations: {}
  type: ClusterIP
  port: 8080
  sessionAffinity: "ClientIP"
  sessionAffinityTimeout: 3600

resources:
  limits:
    memory: 500Mi
  requests:
    cpu: 500m
    memory: 500Mi

virtualService:
  annotations: {}
  objects:
    - name: mcp-server-external
      pathMatchType: prefix
      pathRewrite: "/"
      paths:
        - path: '{{ .Values.global.istio.virtualService.pathPrefix }}/mcp-server-external/'
        - path: '{{ .Values.global.istio.virtualService.pathPrefix }}/mcp-server-external'

ingress:
  pathPrefix: ""
  annotations: {}
  objects:
    - annotations: 
        nginx.ingress.kubernetes.io/proxy-read-timeout: "300"
        nginx.ingress.kubernetes.io/rewrite-target: /$2
        nginx.ingress.kubernetes.io/use-regex: "true"
      conditionalAnnotations:
        - condition: "global.serviceUpStream.enabled"
          annotations:
            nginx.ingress.kubernetes.io/service-upstream: "true"
            nginx.ingress.kubernetes.io/upstream-vhost: '{{ include "mcp-server-external.name" . }}.{{.Release.Namespace}}.svc.cluster.local'
      paths:
        - path: '{{ .Values.global.ingress.pathPrefix }}/mcp-server-external(/|$)(.*)'

livenessProbe:
  httpGet:
    path: /health
    port: mcp
    scheme: HTTP
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
  successThreshold: 1

readinessProbe:
  httpGet:
    path: /health
    port: mcp
    scheme: HTTP
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3
  successThreshold: 1

## Autoscaling configuration
# --autoscaling.enabled Enable autoscaling for pods
# --autoscaling.minReplicas Minimum number of replicas
# --autoscaling.maxReplicas Maximum number of replicas
# --autoscaling.targetCPU Target CPU utilization percentage
# --autoscaling.targetMemory Target Memory utilization percentage
##
autoscaling:
  enabled: true
  minReplicas: 3
  maxReplicas: 4
  targetCPU: 80

# Additional volumes on the output Deployment definition.
volumes: []
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false

# Additional volumeMounts on the output Deployment definition.
volumeMounts: []
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true
extraVolumeMounts: []
extraVolumes: []
initContainers: []
nodeSelector: {}

tolerations: []

secrets:
  default: 
    DUMMY_SECRET: ""
  secretManagement:
    externalSecretsOperator:
      - secretStore:
          name: ""
          kind: ""
        remoteKeys:
          DUMMY_SECRET:
            name: ""
            property: ""


config:
  HARNESS_BASE_URL: "http://harness-ingress-controller.harness.svc.cluster.local/harness-ingress-controller"
  HARNESS_LOG_FORMAT: "json"
  HARNESS_METRICS_PORT: "8889"
 