openapi: 3.0.3
info:
    title: Harness Security Test Orchestration API
    description: Read and manage Security Test results.
    version: 1.0.0
servers:
    - url: https://app.harness.io/gateway/sto
    - url: http://127.0.0.1:4000
paths:
    /api/usage:
        get:
            description: Report usage
            operationId: Usage#ReportUsage
            parameters:
                - allowEmptyValue: true
                  description: Harness Account ID
                  example: abcdef1234567890ghijkl
                  in: query
                  name: accountId
                  required: true
                  schema:
                    description: Harness Account ID
                    example: abcdef1234567890ghijkl
                    pattern: ^[a-zA-Z0-9_-]{22}$
                    type: string
                - allowEmptyValue: true
                  description: Timestamp indicating the end of the usage interval (in milliseconds since Unix epoch)
                  example: 1670427991307
                  in: query
                  name: timestamp
                  required: true
                  schema:
                    description: Timestamp indicating the end of the usage interval (in milliseconds since Unix epoch)
                    example: 1670427991307
                    format: int64
                    type: integer
                - allowEmptyValue: true
                  description: Usage calculation interval (in days)
                  example: 30
                  in: query
                  name: interval
                  schema:
                    default: 30
                    description: Usage calculation interval (in days)
                    example: 30
                    format: int64
                    type: integer
            responses:
                "200":
                    content:
                        application/json:
                            example:
                                accountIdentifier: BdsgiWzwT7CQFeJl9XkQ3A
                                activeDevelopers:
                                    count: 0
                                    displayName: Last 30 Days
                                    references:
                                        - Eum numquam.
                                        - Magni pariatur quod.
                                activeScans:
                                    count: 0
                                    displayName: Last 30 Days
                                    references:
                                        - Eum numquam.
                                        - Magni pariatur quod.
                                module: STO
                                timestamp: 1670427991307
                            schema:
                                $ref: '#/components/schemas/UsageReportUsageResponseBody'
                    description: OK response.
                "400":
                    content:
                        application/json:
                            example:
                                message: 'Bad Request: accountId parameter is required'
                                status: 400
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'BadRequest: Bad Request response.'
                "401":
                    content:
                        application/json:
                            example:
                                message: Unauthorized
                                status: 401
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'Unauthorized: Unauthorized response.'
                "403":
                    content:
                        application/json:
                            example:
                                message: Forbidden
                                status: 403
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'Forbidden: Forbidden response.'
                "429":
                    content:
                        application/json:
                            example:
                                message: Too Many Requests
                                status: 429
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'TooManyRequests: Too Many Requests response.'
                "500":
                    content:
                        application/json:
                            example:
                                message: Internal Server Error
                                status: 500
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'InternalServerError: Internal Server Error response.'
            security:
                - jwt_header_Authorization:
                    - core_account_view
            tags:
                - Usage
        x-internal: true
    /api/usage/all-accounts:
        get:
            description: Report usage for all accounts
            operationId: Usage#UsageAllAccounts
            parameters:
                - allowEmptyValue: true
                  description: Timestamp indicating the end of the usage interval (in milliseconds since Unix epoch)
                  example: 1670427991307
                  in: query
                  name: timestamp
                  required: true
                  schema:
                    description: Timestamp indicating the end of the usage interval (in milliseconds since Unix epoch)
                    example: 1670427991307
                    format: int64
                    type: integer
                - allowEmptyValue: true
                  description: Usage calculation interval (in days)
                  example: 30
                  in: query
                  name: interval
                  schema:
                    default: 30
                    description: Usage calculation interval (in days)
                    example: 30
                    format: int64
                    type: integer
            responses:
                "200":
                    content:
                        application/json:
                            example:
                                timestamp: 1670427991307
                                usage:
                                    - accountId: BdsgiWzwT7CQFeJl9XkQ3A
                                      developerCount: 25
                                      scanCount: 5000
                                    - accountId: BdsgiWzwT7CQFeJl9XkQ3A
                                      developerCount: 25
                                      scanCount: 5000
                            schema:
                                $ref: '#/components/schemas/UsageUsageAllAccountsResponseBody'
                    description: OK response.
                "400":
                    content:
                        application/json:
                            example:
                                message: 'Bad Request: accountId parameter is required'
                                status: 400
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'BadRequest: Bad Request response.'
                "401":
                    content:
                        application/json:
                            example:
                                message: Unauthorized
                                status: 401
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'Unauthorized: Unauthorized response.'
                "403":
                    content:
                        application/json:
                            example:
                                message: Forbidden
                                status: 403
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'Forbidden: Forbidden response.'
                "429":
                    content:
                        application/json:
                            example:
                                message: Too Many Requests
                                status: 429
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'TooManyRequests: Too Many Requests response.'
                "500":
                    content:
                        application/json:
                            example:
                                message: Internal Server Error
                                status: 500
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'InternalServerError: Internal Server Error response.'
            security:
                - jwt_header_Authorization:
                    - sto_internal_use_only
            tags:
                - Usage
        x-internal: true
    /api/v2/accounts/{id}/data:
        delete:
            description: Delete all account data
            operationId: Accounts#DeleteAccountData
            parameters:
                - description: The ID of the account to delete data for
                  example: abcdef1234567890ghijkl
                  in: path
                  name: id
                  required: true
                  schema:
                    description: The ID of the account to delete data for
                    example: abcdef1234567890ghijkl
                    pattern: ^[a-zA-Z0-9_-]{22}$
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            example:
                                status: ok
                            schema:
                                $ref: '#/components/schemas/Status'
                    description: OK response.
                "400":
                    content:
                        application/json:
                            example:
                                message: 'Bad Request: accountId parameter is required'
                                status: 400
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'BadRequest: Bad Request response.'
                "401":
                    content:
                        application/json:
                            example:
                                message: Unauthorized
                                status: 401
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'Unauthorized: Unauthorized response.'
                "403":
                    content:
                        application/json:
                            example:
                                message: Forbidden
                                status: 403
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'Forbidden: Forbidden response.'
                "404":
                    content:
                        application/json:
                            example:
                                message: Not Found
                                status: 404
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'NotFound: Not Found response.'
                "429":
                    content:
                        application/json:
                            example:
                                message: Too Many Requests
                                status: 429
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'TooManyRequests: Too Many Requests response.'
                "500":
                    content:
                        application/json:
                            example:
                                message: Internal Server Error
                                status: 500
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'InternalServerError: Internal Server Error response.'
            security:
                - jwt_header_Authorization:
                    - sto_internal_use_only
            tags:
                - Accounts
        x-internal: true
    /api/v2/exemptions:
        get:
            tags:
                - Exemptions
            description: List a collection of Exemptions
            operationId: Exemptions#ListExemptions
            parameters:
                - name: accountId
                  in: query
                  description: Harness Account ID
                  allowEmptyValue: true
                  required: true
                  schema:
                    type: string
                    description: Harness Account ID
                    example: abcdef1234567890ghijkl
                    pattern: ^[a-zA-Z0-9_-]{22}$
                  example: abcdef1234567890ghijkl
                - name: page
                  in: query
                  description: Page number to fetch (starting from 0)
                  allowEmptyValue: true
                  schema:
                    type: integer
                    description: Page number to fetch (starting from 0)
                    default: 0
                    example: 4
                    format: int64
                    minimum: 0
                  example: 4
                - name: pageSize
                  in: query
                  description: Number of results per page
                  allowEmptyValue: true
                  schema:
                    type: integer
                    description: Number of results per page
                    default: 30
                    example: 50
                    format: int64
                    minimum: 1
                    maximum: 100
                  example: 50
                - name: orgId
                  in: query
                  description: Harness Organization ID
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: Harness Organization ID
                    example: example_org
                    pattern: ^[A-Za-z_][A-Za-z0-9_]*$
                    maxLength: 128
                  example: example_org
                - name: projectId
                  in: query
                  description: Harness Project ID
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: Harness Project ID
                    example: example_project
                    pattern: ^[A-Za-z_][A-Za-z0-9_]*$
                    maxLength: 128
                  example: example_project
                - name: X-Api-Key
                  in: header
                  description: Harness personal or service access token
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: Harness personal or service access token
                    example: Eius corporis sit accusantium.
                  example: Occaecati molestiae qui.
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ExemptionsListExemptionsResponseBody'
                            example:
                                pagination:
                                    link: ""
                                    page: 4
                                    pageSize: 20
                                    totalItems: 230
                                    totalPages: 12
                                results:
                                    - approverId: user111111111111111111
                                      canApproveFor:
                                        - ACCOUNT
                                        - ORG
                                        - PROJECT
                                        - PIPELINE
                                      canCancel: true
                                      canCreate: true
                                      canReApprove: true
                                      canReject: true
                                      comment: This exemption was reviewed by the security team.
                                      created: 1651578240
                                      exemptionStatusAtScan: Pending
                                      expiration: 1651578240
                                      id: abcdef1234567890ghijkl
                                      isDeleted: true
                                      issueId: abcdef1234567890ghijkl
                                      lastModified: 1651578240
                                      link: https://example.com/ABC-1234
                                      numOccurrences: 10
                                      occurrences:
                                        - 42
                                        - 666
                                      orgId: your_project
                                      pendingChanges:
                                        durationDays: 7
                                      pipelineId: your_pipeline
                                      projectId: your_project
                                      reason: Waiting on upstream bug fix
                                      requesterId: user111111111111111111
                                      scanId: abcdef1234567890ghijkl
                                      scope: PROJECT
                                      search: CWE-123,5
                                      status: Pending
                                      targetId: abcdef1234567890ghijkl
                                      type: Other
                                    - approverId: user111111111111111111
                                      canApproveFor:
                                        - ACCOUNT
                                        - ORG
                                        - PROJECT
                                        - PIPELINE
                                      canCancel: true
                                      canCreate: true
                                      canReApprove: true
                                      canReject: true
                                      comment: This exemption was reviewed by the security team.
                                      created: 1651578240
                                      exemptionStatusAtScan: Pending
                                      expiration: 1651578240
                                      id: abcdef1234567890ghijkl
                                      isDeleted: true
                                      issueId: abcdef1234567890ghijkl
                                      lastModified: 1651578240
                                      link: https://example.com/ABC-1234
                                      numOccurrences: 10
                                      occurrences:
                                        - 42
                                        - 666
                                      orgId: your_project
                                      pendingChanges:
                                        durationDays: 7
                                      pipelineId: your_pipeline
                                      projectId: your_project
                                      reason: Waiting on upstream bug fix
                                      requesterId: user111111111111111111
                                      scanId: abcdef1234567890ghijkl
                                      scope: PROJECT
                                      search: CWE-123,5
                                      status: Pending
                                      targetId: abcdef1234567890ghijkl
                                      type: Other
                                    - approverId: user111111111111111111
                                      canApproveFor:
                                        - ACCOUNT
                                        - ORG
                                        - PROJECT
                                        - PIPELINE
                                      canCancel: true
                                      canCreate: true
                                      canReApprove: true
                                      canReject: true
                                      comment: This exemption was reviewed by the security team.
                                      created: 1651578240
                                      exemptionStatusAtScan: Pending
                                      expiration: 1651578240
                                      id: abcdef1234567890ghijkl
                                      isDeleted: true
                                      issueId: abcdef1234567890ghijkl
                                      lastModified: 1651578240
                                      link: https://example.com/ABC-1234
                                      numOccurrences: 10
                                      occurrences:
                                        - 42
                                        - 666
                                      orgId: your_project
                                      pendingChanges:
                                        durationDays: 7
                                      pipelineId: your_pipeline
                                      projectId: your_project
                                      reason: Waiting on upstream bug fix
                                      requesterId: user111111111111111111
                                      scanId: abcdef1234567890ghijkl
                                      scope: PROJECT
                                      search: CWE-123,5
                                      status: Pending
                                      targetId: abcdef1234567890ghijkl
                                      type: Other
                                    - approverId: user111111111111111111
                                      canApproveFor:
                                        - ACCOUNT
                                        - ORG
                                        - PROJECT
                                        - PIPELINE
                                      canCancel: true
                                      canCreate: true
                                      canReApprove: true
                                      canReject: true
                                      comment: This exemption was reviewed by the security team.
                                      created: 1651578240
                                      exemptionStatusAtScan: Pending
                                      expiration: 1651578240
                                      id: abcdef1234567890ghijkl
                                      isDeleted: true
                                      issueId: abcdef1234567890ghijkl
                                      lastModified: 1651578240
                                      link: https://example.com/ABC-1234
                                      numOccurrences: 10
                                      occurrences:
                                        - 42
                                        - 666
                                      orgId: your_project
                                      pendingChanges:
                                        durationDays: 7
                                      pipelineId: your_pipeline
                                      projectId: your_project
                                      reason: Waiting on upstream bug fix
                                      requesterId: user111111111111111111
                                      scanId: abcdef1234567890ghijkl
                                      scope: PROJECT
                                      search: CWE-123,5
                                      status: Pending
                                      targetId: abcdef1234567890ghijkl
                                      type: Other
                "400":
                    description: 'BadRequest: Bad Request response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: 'Bad Request: accountId parameter is required'
                                status: 400
                "401":
                    description: 'Unauthorized: Unauthorized response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Unauthorized
                                status: 401
                "403":
                    description: 'Forbidden: Forbidden response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Forbidden
                                status: 403
                "404":
                    description: 'NotFound: Not Found response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Not Found
                                status: 404
                "429":
                    description: 'TooManyRequests: Too Many Requests response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Too Many Requests
                                status: 429
                "500":
                    description: 'InternalServerError: Internal Server Error response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Internal Server Error
                                status: 500
            security:
                - X-Api-Key_header_X-Api-Key: []
                  jwt_header_Authorization:
                    - sto_exemption_view
        post:
            tags:
                - Exemptions
            description: Create a new Exemption
            operationId: Exemptions#CreateExemption
            parameters:
                - name: accountId
                  in: query
                  description: Harness Account ID
                  allowEmptyValue: true
                  required: true
                  schema:
                    type: string
                    description: Harness Account ID
                    example: abcdef1234567890ghijkl
                    pattern: ^[a-zA-Z0-9_-]{22}$
                  example: abcdef1234567890ghijkl
                - name: orgId
                  in: query
                  description: ID of the Harness Organization to which the exemption applies. Cannot be specified alongside "targetId".
                  allowEmptyValue: true
                  required: true
                  schema:
                    type: string
                    description: ID of the Harness Organization to which the exemption applies. Cannot be specified alongside "targetId".
                    example: your_project
                    pattern: ^[A-Za-z_][A-Za-z0-9_]*$
                    maxLength: 128
                  examples:
                    default:
                        summary: default
                        value: your_project
                - name: projectId
                  in: query
                  description: ID of the Harness Project to which the exemption applies. You must also specify "orgId". Cannot be specified alongside "targetId".
                  allowEmptyValue: true
                  required: true
                  schema:
                    type: string
                    description: ID of the Harness Project to which the exemption applies. You must also specify "orgId". Cannot be specified alongside "targetId".
                    example: your_project
                    pattern: ^[A-Za-z_][A-Za-z0-9_]*$
                    maxLength: 128
                  examples:
                    default:
                        summary: default
                        value: your_project
                - name: X-Api-Key
                  in: header
                  description: Harness personal or service access token
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: Harness personal or service access token
                    example: Esse eos.
                  example: Rerum magnam voluptatem assumenda molestiae.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateExemptionRequestBody'
                        example:
                            exemptFutureOccurrences: false
                            expiration: 1651578240
                            issueId: abcdef1234567890ghijkl
                            link: https://example.com/ABC-1234
                            occurrences:
                                - 42
                                - 666
                            pendingChanges:
                                durationDays: 7
                            pipelineId: your_pipeline
                            reason: Waiting on upstream bug fix
                            requesterId: user111111111111111111
                            scanId: abcdef1234567890ghijkl
                            search: CWE-123,5
                            targetId: abcdef1234567890ghijkl
                            type: Other
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ExemptionsCreateExemptionResponseBody'
                            example:
                                id: abcdef1234567890ghijkl
                "400":
                    description: 'BadRequest: Bad Request response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: 'Bad Request: accountId parameter is required'
                                status: 400
                "401":
                    description: 'Unauthorized: Unauthorized response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Unauthorized
                                status: 401
                "403":
                    description: 'Forbidden: Forbidden response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Forbidden
                                status: 403
                "429":
                    description: 'TooManyRequests: Too Many Requests response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Too Many Requests
                                status: 429
                "500":
                    description: 'InternalServerError: Internal Server Error response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Internal Server Error
                                status: 500
            security:
                - X-Api-Key_header_X-Api-Key: []
                  jwt_header_Authorization:
                    - sto_exemption_create
    /api/v2/exemptions/{id}:
        delete:
            description: Delete an existing Exemption
            operationId: Exemptions#DeleteExemption
            parameters:
                - allowEmptyValue: true
                  description: Harness Account ID
                  example: abcdef1234567890ghijkl
                  in: query
                  name: accountId
                  required: true
                  schema:
                    description: Harness Account ID
                    example: abcdef1234567890ghijkl
                    pattern: ^[a-zA-Z0-9_-]{22}$
                    type: string
                - allowEmptyValue: true
                  description: Harness Organization ID
                  examples:
                    default:
                        summary: default
                        value: example_org
                  in: query
                  name: orgId
                  schema:
                    description: Harness Organization ID
                    example: example_org
                    maxLength: 128
                    pattern: ^[A-Za-z_][A-Za-z0-9_]*$
                    type: string
                - allowEmptyValue: true
                  description: Harness Project ID
                  examples:
                    default:
                        summary: default
                        value: example_project
                  in: query
                  name: projectId
                  schema:
                    description: Harness Project ID
                    example: example_project
                    maxLength: 128
                    pattern: ^[A-Za-z_][A-Za-z0-9_]*$
                    type: string
                - description: The ID of the Exemption to delete
                  example: abcdef1234567890ghijkl
                  in: path
                  name: id
                  required: true
                  schema:
                    description: The ID of the Exemption to delete
                    example: abcdef1234567890ghijkl
                    pattern: ^[a-zA-Z0-9_-]{22}$
                    type: string
            responses:
                "204":
                    description: No Content response.
                "400":
                    content:
                        application/json:
                            example:
                                message: 'Bad Request: accountId parameter is required'
                                status: 400
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'BadRequest: Bad Request response.'
                "401":
                    content:
                        application/json:
                            example:
                                message: Unauthorized
                                status: 401
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'Unauthorized: Unauthorized response.'
                "403":
                    content:
                        application/json:
                            example:
                                message: Forbidden
                                status: 403
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'Forbidden: Forbidden response.'
                "404":
                    content:
                        application/json:
                            example:
                                message: Not Found
                                status: 404
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'NotFound: Not Found response.'
                "429":
                    content:
                        application/json:
                            example:
                                message: Too Many Requests
                                status: 429
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'TooManyRequests: Too Many Requests response.'
                "500":
                    content:
                        application/json:
                            example:
                                message: Internal Server Error
                                status: 500
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'InternalServerError: Internal Server Error response.'
            security:
                - jwt_header_Authorization:
                    - sto_exemption_create
            tags:
                - Exemptions
            x-internal: true
        get:
            tags:
                - Exemptions
            description: Find Exemption by ID
            operationId: Exemptions#FindExemptionById
            parameters:
                - name: accountId
                  in: query
                  description: Harness Account ID
                  allowEmptyValue: true
                  required: true
                  schema:
                    type: string
                    description: Harness Account ID
                    example: abcdef1234567890ghijkl
                    pattern: ^[a-zA-Z0-9_-]{22}$
                  example: abcdef1234567890ghijkl
                - name: orgId
                  in: query
                  description: Harness Organization ID
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: Harness Organization ID
                    example: example_org
                    pattern: ^[A-Za-z_][A-Za-z0-9_]*$
                    maxLength: 128
                  examples:
                    default:
                        summary: default
                        value: example_org
                - name: projectId
                  in: query
                  description: Harness Project ID
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: Harness Project ID
                    example: example_project
                    pattern: ^[A-Za-z_][A-Za-z0-9_]*$
                    maxLength: 128
                  examples:
                    default:
                        summary: default
                        value: example_project
                - name: executionId
                  in: query
                  description: Harness Execution ID
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: Harness Execution ID
                    example: abcdef1234567890ghijkl
                    pattern: ^[a-zA-Z0-9_-]{22}$
                  example: abcdef1234567890ghijkl
                - name: ignoreScope
                  in: query
                  description: Ignore scope
                  allowEmptyValue: true
                  schema:
                    type: boolean
                    description: Ignore scope
                    example: true
                  example: true
                - name: id
                  in: path
                  description: The ID of the Exemption to retrieve
                  required: true
                  schema:
                    type: string
                    description: The ID of the Exemption to retrieve
                    example: abcdef1234567890ghijkl
                    pattern: ^[a-zA-Z0-9_-]{22}$
                  example: abcdef1234567890ghijkl
                - name: X-Api-Key
                  in: header
                  description: Harness personal or service access token
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: Harness personal or service access token
                    example: Eos maxime nostrum quia.
                  example: Et quo consectetur eius.
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Exemption'
                            example:
                                approverId: user111111111111111111
                                canApproveFor:
                                    - ACCOUNT
                                    - ORG
                                    - PROJECT
                                    - PIPELINE
                                canCancel: true
                                canCreate: true
                                canReApprove: true
                                canReject: true
                                comment: This exemption was reviewed by the security team.
                                created: 1651578240
                                exemptionStatusAtScan: Pending
                                expiration: 1651578240
                                id: abcdef1234567890ghijkl
                                isDeleted: true
                                issueId: abcdef1234567890ghijkl
                                lastModified: 1651578240
                                link: https://example.com/ABC-1234
                                numOccurrences: 10
                                occurrences:
                                    - 42
                                    - 666
                                orgId: your_project
                                pendingChanges:
                                    durationDays: 7
                                pipelineId: your_pipeline
                                projectId: your_project
                                reason: Waiting on upstream bug fix
                                requesterId: user111111111111111111
                                scanId: abcdef1234567890ghijkl
                                scope: PROJECT
                                search: CWE-123,5
                                status: Pending
                                targetId: abcdef1234567890ghijkl
                                type: Other
                "400":
                    description: 'BadRequest: Bad Request response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: 'Bad Request: accountId parameter is required'
                                status: 400
                "401":
                    description: 'Unauthorized: Unauthorized response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Unauthorized
                                status: 401
                "403":
                    description: 'Forbidden: Forbidden response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Forbidden
                                status: 403
                "404":
                    description: 'NotFound: Not Found response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Not Found
                                status: 404
                "429":
                    description: 'TooManyRequests: Too Many Requests response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Too Many Requests
                                status: 429
                "500":
                    description: 'InternalServerError: Internal Server Error response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Internal Server Error
                                status: 500
            security:
                - X-Api-Key_header_X-Api-Key: []
                  jwt_header_Authorization:
                    - sto_exemption_view
        put:
            tags:
                - Exemptions
            description: Update an existing Exemption
            operationId: Exemptions#UpdateExemption
            parameters:
                - name: accountId
                  in: query
                  description: Harness Account ID
                  allowEmptyValue: true
                  required: true
                  schema:
                    type: string
                    description: Harness Account ID
                    example: abcdef1234567890ghijkl
                    pattern: ^[a-zA-Z0-9_-]{22}$
                  example: abcdef1234567890ghijkl
                - name: orgId
                  in: query
                  description: ID of the Harness Organization to which the exemption applies. Cannot be specified alongside "targetId".
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: ID of the Harness Organization to which the exemption applies. Cannot be specified alongside "targetId".
                    example: your_project
                    pattern: ^[A-Za-z_][A-Za-z0-9_]*$
                    maxLength: 128
                  examples:
                    default:
                        summary: default
                        value: your_project
                - name: projectId
                  in: query
                  description: ID of the Harness Project to which the exemption applies. You must also specify "orgId". Cannot be specified alongside "targetId".
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: ID of the Harness Project to which the exemption applies. You must also specify "orgId". Cannot be specified alongside "targetId".
                    example: your_project
                    pattern: ^[A-Za-z_][A-Za-z0-9_]*$
                    maxLength: 128
                  examples:
                    default:
                        summary: default
                        value: your_project
                - name: id
                  in: path
                  description: The ID of the Exemption to update
                  required: true
                  schema:
                    type: string
                    description: The ID of the Exemption to update
                    example: abcdef1234567890ghijkl
                    pattern: ^[a-zA-Z0-9_-]{22}$
                  example: abcdef1234567890ghijkl
                - name: X-Api-Key
                  in: header
                  description: Harness personal or service access token
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: Harness personal or service access token
                    example: Non et eos odio est voluptatem.
                  example: Perferendis voluptate vero assumenda et exercitationem est.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpdateExemptionRequestBody'
                        example:
                            expiration: 1651578240
                            link: https://example.com/ABC-1234
                            pendingChanges:
                                durationDays: 7
                            pipelineId: your_pipeline
                            reason: Waiting on upstream bug fix
                            requesterId: user111111111111111111
                            targetId: abcdef1234567890ghijkl
                            type: Other
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Exemption'
                            example:
                                approverId: user111111111111111111
                                canApproveFor:
                                    - ACCOUNT
                                    - ORG
                                    - PROJECT
                                    - PIPELINE
                                canCancel: true
                                canCreate: true
                                canReApprove: true
                                canReject: true
                                comment: This exemption was reviewed by the security team.
                                created: 1651578240
                                exemptionStatusAtScan: Pending
                                expiration: 1651578240
                                id: abcdef1234567890ghijkl
                                isDeleted: true
                                issueId: abcdef1234567890ghijkl
                                lastModified: 1651578240
                                link: https://example.com/ABC-1234
                                numOccurrences: 10
                                occurrences:
                                    - 42
                                    - 666
                                orgId: your_project
                                pendingChanges:
                                    durationDays: 7
                                pipelineId: your_pipeline
                                projectId: your_project
                                reason: Waiting on upstream bug fix
                                requesterId: user111111111111111111
                                scanId: abcdef1234567890ghijkl
                                scope: PROJECT
                                search: CWE-123,5
                                status: Pending
                                targetId: abcdef1234567890ghijkl
                                type: Other
                "400":
                    description: 'BadRequest: Bad Request response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: 'Bad Request: accountId parameter is required'
                                status: 400
                "401":
                    description: 'Unauthorized: Unauthorized response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Unauthorized
                                status: 401
                "403":
                    description: 'Forbidden: Forbidden response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Forbidden
                                status: 403
                "404":
                    description: 'NotFound: Not Found response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Not Found
                                status: 404
                "429":
                    description: 'TooManyRequests: Too Many Requests response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Too Many Requests
                                status: 429
                "500":
                    description: 'InternalServerError: Internal Server Error response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Internal Server Error
                                status: 500
            security:
                - X-Api-Key_header_X-Api-Key: []
                  jwt_header_Authorization:
                    - sto_exemption_create
    /api/v2/exemptions/{id}/{action}:
        put:
            tags:
                - Exemptions
            description: Approve/reject an existing Exemption
            operationId: Exemptions#ApproveExemption
            parameters:
                - name: accountId
                  in: query
                  description: Harness Account ID
                  allowEmptyValue: true
                  required: true
                  schema:
                    type: string
                    description: Harness Account ID
                    example: abcdef1234567890ghijkl
                    pattern: ^[a-zA-Z0-9_-]{22}$
                  example: abcdef1234567890ghijkl
                - name: orgId
                  in: query
                  description: Harness Organization ID
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: Harness Organization ID
                    example: example_org
                    pattern: ^[A-Za-z_][A-Za-z0-9_]*$
                    maxLength: 128
                  examples:
                    default:
                        summary: default
                        value: example_org
                - name: projectId
                  in: query
                  description: Harness Project ID
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: Harness Project ID
                    example: example_project
                    pattern: ^[A-Za-z_][A-Za-z0-9_]*$
                    maxLength: 128
                  examples:
                    default:
                        summary: default
                        value: example_project
                - name: id
                  in: path
                  description: The ID of the Exemption to update
                  required: true
                  schema:
                    type: string
                    description: The ID of the Exemption to update
                    example: abcdef1234567890ghijkl
                    pattern: ^[a-zA-Z0-9_-]{22}$
                  example: abcdef1234567890ghijkl
                - name: action
                  in: path
                  description: The approval action to take on the Exemption
                  required: true
                  schema:
                    type: string
                    description: The approval action to take on the Exemption
                    example: approve
                    enum:
                        - approve
                        - reject
                  example: approve
                - name: X-Api-Key
                  in: header
                  description: Harness personal or service access token
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: Harness personal or service access token
                    example: Id est earum quia quia.
                  example: Blanditiis porro sapiente est.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ApproveExemptionRequestBody'
                        example:
                            approverId: user111111111111111111
                            comment: This is a comment for the approval or rejection of the exemption
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Exemption'
                            example:
                                approverId: user111111111111111111
                                canApproveFor:
                                    - ACCOUNT
                                    - ORG
                                    - PROJECT
                                    - PIPELINE
                                canCancel: true
                                canCreate: true
                                canReApprove: true
                                canReject: true
                                comment: This exemption was reviewed by the security team.
                                created: 1651578240
                                exemptionStatusAtScan: Pending
                                expiration: 1651578240
                                id: abcdef1234567890ghijkl
                                isDeleted: true
                                issueId: abcdef1234567890ghijkl
                                lastModified: 1651578240
                                link: https://example.com/ABC-1234
                                numOccurrences: 10
                                occurrences:
                                    - 42
                                    - 666
                                orgId: your_project
                                pendingChanges:
                                    durationDays: 7
                                pipelineId: your_pipeline
                                projectId: your_project
                                reason: Waiting on upstream bug fix
                                requesterId: user111111111111111111
                                scanId: abcdef1234567890ghijkl
                                scope: PROJECT
                                search: CWE-123,5
                                status: Pending
                                targetId: abcdef1234567890ghijkl
                                type: Other
                "400":
                    description: 'BadRequest: Bad Request response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: 'Bad Request: accountId parameter is required'
                                status: 400
                "401":
                    description: 'Unauthorized: Unauthorized response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Unauthorized
                                status: 401
                "403":
                    description: 'Forbidden: Forbidden response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Forbidden
                                status: 403
                "404":
                    description: 'NotFound: Not Found response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Not Found
                                status: 404
                "429":
                    description: 'TooManyRequests: Too Many Requests response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Too Many Requests
                                status: 429
                "500":
                    description: 'InternalServerError: Internal Server Error response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Internal Server Error
                                status: 500
            security:
                - X-Api-Key_header_X-Api-Key: []
                  jwt_header_Authorization:
                    - sto_exemption_approve
    /api/v2/exemptions/{id}/promote:
        put:
            tags:
                - Exemptions
            description: Promote an existing Exemption to a higher scope
            operationId: Exemptions#PromoteExemption
            parameters:
                - name: accountId
                  in: query
                  description: Harness Account ID
                  allowEmptyValue: true
                  required: true
                  schema:
                    type: string
                    description: Harness Account ID
                    example: abcdef1234567890ghijkl
                    pattern: ^[a-zA-Z0-9_-]{22}$
                  example: abcdef1234567890ghijkl
                - name: orgId
                  in: query
                  description: Harness Organization ID
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: Harness Organization ID
                    example: example_org
                    pattern: ^[A-Za-z_][A-Za-z0-9_]*$
                    maxLength: 128
                  examples:
                    default:
                        summary: default
                        value: example_org
                - name: projectId
                  in: query
                  description: Harness Project ID
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: Harness Project ID
                    example: example_project
                    pattern: ^[A-Za-z_][A-Za-z0-9_]*$
                    maxLength: 128
                  examples:
                    default:
                        summary: default
                        value: example_project
                - name: id
                  in: path
                  description: The ID of the Exemption to promote
                  required: true
                  schema:
                    type: string
                    description: The ID of the Exemption to promote
                    example: abcdef1234567890ghijkl
                    pattern: ^[a-zA-Z0-9_-]{22}$
                  example: abcdef1234567890ghijkl
                - name: X-Api-Key
                  in: header
                  description: Harness personal or service access token
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: Harness personal or service access token
                    example: Maxime minus.
                  example: Dolor laboriosam et nihil illum rem.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/PromoteExemptionRequestBody'
                        example:
                            approverId: user111111111111111111
                            comment: This is a comment for the approval or rejection of the exemption
                            pipelineId: abcdef1234567890ghijkl
                            targetId: abcdef1234567890ghijkl
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Exemption'
                            example:
                                approverId: user111111111111111111
                                canApproveFor:
                                    - ACCOUNT
                                    - ORG
                                    - PROJECT
                                    - PIPELINE
                                canCancel: true
                                canCreate: true
                                canReApprove: true
                                canReject: true
                                comment: This exemption was reviewed by the security team.
                                created: 1651578240
                                exemptionStatusAtScan: Pending
                                expiration: 1651578240
                                id: abcdef1234567890ghijkl
                                isDeleted: true
                                issueId: abcdef1234567890ghijkl
                                lastModified: 1651578240
                                link: https://example.com/ABC-1234
                                numOccurrences: 10
                                occurrences:
                                    - 42
                                    - 666
                                orgId: your_project
                                pendingChanges:
                                    durationDays: 7
                                pipelineId: your_pipeline
                                projectId: your_project
                                reason: Waiting on upstream bug fix
                                requesterId: user111111111111111111
                                scanId: abcdef1234567890ghijkl
                                scope: PROJECT
                                search: CWE-123,5
                                status: Pending
                                targetId: abcdef1234567890ghijkl
                                type: Other
                "400":
                    description: 'BadRequest: Bad Request response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: 'Bad Request: accountId parameter is required'
                                status: 400
                "401":
                    description: 'Unauthorized: Unauthorized response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Unauthorized
                                status: 401
                "403":
                    description: 'Forbidden: Forbidden response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Forbidden
                                status: 403
                "404":
                    description: 'NotFound: Not Found response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Not Found
                                status: 404
                "429":
                    description: 'TooManyRequests: Too Many Requests response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Too Many Requests
                                status: 429
                "500":
                    description: 'InternalServerError: Internal Server Error response.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NotFound'
                            example:
                                message: Internal Server Error
                                status: 500
            security:
                - X-Api-Key_header_X-Api-Key: []
                  jwt_header_Authorization:
                    - sto_exemption_approve
    /api/v2/frontend/all-issues/filters:
        get:
            description: Provide list of filters for a projects latest baseline scans
            operationId: Frontend#AllIssuesFilters
            parameters:
                - allowEmptyValue: true
                  description: Harness Account ID
                  example: abcdef1234567890ghijkl
                  in: query
                  name: accountId
                  required: true
                  schema:
                    description: Harness Account ID
                    example: abcdef1234567890ghijkl
                    pattern: ^[a-zA-Z0-9_-]{22}$
                    type: string
                - allowEmptyValue: true
                  description: Harness Organization ID
                  example: example_org
                  in: query
                  name: orgId
                  required: true
                  schema:
                    description: Harness Organization ID
                    example: example_org
                    maxLength: 128
                    pattern: ^[A-Za-z_][A-Za-z0-9_]*$
                    type: string
                - allowEmptyValue: true
                  description: Harness Project ID
                  example: example_project
                  in: query
                  name: projectId
                  required: true
                  schema:
                    description: Harness Project ID
                    example: example_project
                    maxLength: 128
                    pattern: ^[A-Za-z_][A-Za-z0-9_]*$
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            example:
                                latestBaselineScans:
                                    - pipelineId: pipeline_1
                                      scanTool: owasp
                                      targetId: abcdef1234567890ghijkl
                                      targetName: The Target
                                      targetType: repository
                                    - pipelineId: pipeline_1
                                      scanTool: owasp
                                      targetId: abcdef1234567890ghijkl
                                      targetName: The Target
                                      targetType: repository
                            schema:
                                $ref: '#/components/schemas/FrontendAllIssuesFiltersResponseBody'
                    description: OK response.
                "400":
                    content:
                        application/json:
                            example:
                                message: 'Bad Request: accountId parameter is required'
                                status: 400
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'BadRequest: Bad Request response.'
                "401":
                    content:
                        application/json:
                            example:
                                message: Unauthorized
                                status: 401
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'Unauthorized: Unauthorized response.'
                "403":
                    content:
                        application/json:
                            example:
                                message: Forbidden
                                status: 403
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'Forbidden: Forbidden response.'
                "404":
                    content:
                        application/json:
                            example:
                                message: Not Found
                                status: 404
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'NotFound: Not Found response.'
                "429":
                    content:
                        application/json:
                            example:
                                message: Too Many Requests
                                status: 429
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'TooManyRequests: Too Many Requests response.'
                "500":
                    content:
                        application/json:
                            example:
                                message: Internal Server Error
                                status: 500
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'InternalServerError: Internal Server Error response.'
            security:
                - jwt_header_Authorization:
                    - sto_issue_view
            tags:
                - Frontend
        x-internal: true
    /api/v2/frontend/all-issues/issues:
        get:
            description: Provides a paginated list of issues for a project found in the latest baseline scans
            operationId: Frontend#AllIssuesList
            parameters:
                - allowEmptyValue: true
                  description: Harness Account ID
                  example: abcdef1234567890ghijkl
                  in: query
                  name: accountId
                  required: true
                  schema:
                    description: Harness Account ID
                    example: abcdef1234567890ghijkl
                    pattern: ^[a-zA-Z0-9_-]{22}$
                    type: string
                - allowEmptyValue: true
                  description: Harness Organization ID
                  example: example_org
                  in: query
                  name: orgId
                  required: true
                  schema:
                    description: Harness Organization ID
                    example: example_org
                    maxLength: 128
                    pattern: ^[A-Za-z_][A-Za-z0-9_]*$
                    type: string
                - allowEmptyValue: true
                  description: Harness Project ID
                  example: example_project
                  in: query
                  name: projectId
                  required: true
                  schema:
                    description: Harness Project ID
                    example: example_project
                    maxLength: 128
                    pattern: ^[A-Za-z_][A-Za-z0-9_]*$
                    type: string
                - allowEmptyValue: true
                  description: Page number to fetch (starting from 0)
                  example: 4
                  in: query
                  name: page
                  schema:
                    default: 0
                    description: Page number to fetch (starting from 0)
                    example: 4
                    format: int64
                    minimum: 0
                    type: integer
                - allowEmptyValue: true
                  description: Number of results per page
                  example: 50
                  in: query
                  name: pageSize
                  schema:
                    default: 30
                    description: Number of results per page
                    example: 50
                    format: int64
                    maximum: 100
                    minimum: 1
                    type: integer
                - allowEmptyValue: true
                  example: target1111111111111111,abcdef1234567890abcdef
                  in: query
                  name: targetIds
                  schema:
                    example: target1111111111111111,abcdef1234567890abcdef
                    pattern: ^([a-zA-Z0-9_-]{22})(,[a-zA-Z0-9_-]{22})*$
                    type: string
                - allowEmptyValue: true
                  example: repository,container
                  in: query
                  name: targetTypes
                  schema:
                    example: repository,container
                    pattern: ^(repository|container|instance|configuration)(,repository|,container|,instance|,configuration)*$
                    type: string
                - allowEmptyValue: true
                  example: pipeline1,pipeline2
                  in: query
                  name: pipelineIds
                  schema:
                    example: pipeline1,pipeline2
                    pattern: ^([a-zA-Z0-9_-]+)(,[a-zA-Z0-9_-]+)*$
                    type: string
                - allowEmptyValue: true
                  example: owasp,zap
                  in: query
                  name: scanTools
                  schema:
                    example: owasp,zap
                    pattern: ^([a-zA-Z0-9_-]+)(,[a-zA-Z0-9_-]+)*$
                    type: string
                - allowEmptyValue: true
                  example: Critical,High,Medium
                  in: query
                  name: severityCodes
                  schema:
                    example: Critical,High,Medium
                    pattern: ^(Critical|High|Medium|Low|Info)(,Critical|,High|,Medium|,Low|,Info)*$
                    type: string
                - allowEmptyValue: true
                  example: None,Pending,Rejected,Expired
                  in: query
                  name: exemptionStatuses
                  schema:
                    example: None,Pending,Rejected,Expired
                    pattern: ^(None|Pending|Approved|Rejected|Expired)(,None|,Pending|,Approved|,Rejected|,Expired)*$
                    type: string
                - allowEmptyValue: true
                  example: CWE-123
                  in: query
                  name: search
                  schema:
                    example: CWE-123
                    maxLength: 256
                    type: string
                - allowEmptyValue: true
                  example: SAST
                  in: query
                  name: issueTypes
                  schema:
                    example: SAST
                    pattern: ^(SAST|DAST|SCA|IAC|SECRET|MISCONFIG|BUG_SMELLS|CODE_SMELLS|CODE_COVERAGE|EXTERNAL_POLICY)(,SAST|,DAST|,SCA|,IAC|,SECRET|,MISCONFIG|,BUG_SMELLS|,CODE_SMELLS|,CODE_COVERAGE|,EXTERNAL_POLICY)*$
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            example:
                                issues:
                                    - exemptionExpiration: 1651578240
                                      exemptionId: abcdef1234567890ghijkl
                                      exemptionStatus: Pending
                                      id: abcdef1234567890ghijkl
                                      issueType: A est voluptate.
                                      lastDetected: 1634836529
                                      numOccurrences: 12
                                      numTargetsImpacted: 2
                                      override:
                                        originalSeverity: medium
                                        reason: snyk
                                      severityCode: High
                                      title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
                                    - exemptionExpiration: 1651578240
                                      exemptionId: abcdef1234567890ghijkl
                                      exemptionStatus: Pending
                                      id: abcdef1234567890ghijkl
                                      issueType: A est voluptate.
                                      lastDetected: 1634836529
                                      numOccurrences: 12
                                      numTargetsImpacted: 2
                                      override:
                                        originalSeverity: medium
                                        reason: snyk
                                      severityCode: High
                                      title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
                                    - exemptionExpiration: 1651578240
                                      exemptionId: abcdef1234567890ghijkl
                                      exemptionStatus: Pending
                                      id: abcdef1234567890ghijkl
                                      issueType: A est voluptate.
                                      lastDetected: 1634836529
                                      numOccurrences: 12
                                      numTargetsImpacted: 2
                                      override:
                                        originalSeverity: medium
                                        reason: snyk
                                      severityCode: High
                                      title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
                                pagination:
                                    link: ""
                                    page: 4
                                    pageSize: 20
                                    totalItems: 230
                                    totalPages: 12
                            schema:
                                $ref: '#/components/schemas/FrontendAllIssuesListResponseBody'
                    description: OK response.
                "400":
                    content:
                        application/json:
                            example:
                                message: 'Bad Request: accountId parameter is required'
                                status: 400
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'BadRequest: Bad Request response.'
                "401":
                    content:
                        application/json:
                            example:
                                message: Unauthorized
                                status: 401
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'Unauthorized: Unauthorized response.'
                "403":
                    content:
                        application/json:
                            example:
                                message: Forbidden
                                status: 403
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'Forbidden: Forbidden response.'
                "404":
                    content:
                        application/json:
                            example:
                                message: Not Found
                                status: 404
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'NotFound: Not Found response.'
                "429":
                    content:
                        application/json:
                            example:
                                message: Too Many Requests
                                status: 429
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'TooManyRequests: Too Many Requests response.'
                "500":
                    content:
                        application/json:
                            example:
                                message: Internal Server Error
                                status: 500
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'InternalServerError: Internal Server Error response.'
            security:
                - jwt_header_Authorization:
                    - sto_issue_view
            tags:
                - Frontend
        x-internal: true
    /api/v2/frontend/all-issues/issues/{issueId}:
        get:
            description: Provides issue details for a project's latest baseline scans
            operationId: Frontend#AllIssuesDetails
            parameters:
                - allowEmptyValue: true
                  description: Harness Account ID
                  example: abcdef1234567890ghijkl
                  in: query
                  name: accountId
                  required: true
                  schema:
                    description: Harness Account ID
                    example: abcdef1234567890ghijkl
                    pattern: ^[a-zA-Z0-9_-]{22}$
                    type: string
                - allowEmptyValue: true
                  description: Harness Organization ID
                  example: example_org
                  in: query
                  name: orgId
                  required: true
                  schema:
                    description: Harness Organization ID
                    example: example_org
                    maxLength: 128
                    pattern: ^[A-Za-z_][A-Za-z0-9_]*$
                    type: string
                - allowEmptyValue: true
                  description: Harness Project ID
                  example: example_project
                  in: query
                  name: projectId
                  required: true
                  schema:
                    description: Harness Project ID
                    example: example_project
                    maxLength: 128
                    pattern: ^[A-Za-z_][A-Za-z0-9_]*$
                    type: string
                - allowEmptyValue: true
                  example: None,Pending,Rejected,Expired
                  in: query
                  name: exemptionStatuses
                  schema:
                    example: None,Pending,Rejected,Expired
                    pattern: ^(None|Pending|Approved|Rejected|Expired)(,None|,Pending|,Approved|,Rejected|,Expired)*$
                    type: string
                - allowEmptyValue: true
                  example: A Target Name
                  in: query
                  name: search
                  schema:
                    example: A Target Name
                    maxLength: 256
                    type: string
                - allowEmptyValue: true
                  description: Page number to fetch (starting from 0)
                  example: 4
                  in: query
                  name: page
                  schema:
                    default: 0
                    description: Page number to fetch (starting from 0)
                    example: 4
                    format: int64
                    minimum: 0
                    type: integer
                - allowEmptyValue: true
                  description: Number of results per page
                  example: 50
                  in: query
                  name: pageSize
                  schema:
                    default: 30
                    description: Number of results per page
                    example: 50
                    format: int64
                    maximum: 100
                    minimum: 1
                    type: integer
                - description: The ID of the Security Issue
                  example: abcdef1234567890ghijkl
                  in: path
                  name: issueId
                  required: true
                  schema:
                    description: The ID of the Security Issue
                    example: abcdef1234567890ghijkl
                    pattern: ^[a-zA-Z0-9_-]{22}$
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            example:
                                description: Autem nesciunt voluptas et labore illum.
                                impactedTargets:
                                    - exemptionId: abcdef1234567890ghijkl
                                      exemptionStatus: Neque itaque unde et omnis.
                                      id: target1111111111111111
                                      lastDetected: 1634836529
                                      name: The Target Name
                                      numOccurrences: 10
                                      userId: Aliquam fuga officiis aut omnis sed.
                                      variantName: Et eos.
                                    - exemptionId: abcdef1234567890ghijkl
                                      exemptionStatus: Neque itaque unde et omnis.
                                      id: target1111111111111111
                                      lastDetected: 1634836529
                                      name: The Target Name
                                      numOccurrences: 10
                                      userId: Aliquam fuga officiis aut omnis sed.
                                      variantName: Et eos.
                                issueType: Odit sit praesentium nisi rerum.
                                lastDetected: 1634836529
                                override:
                                    originalSeverity: medium
                                    reason: snyk
                                pagination:
                                    link: ""
                                    page: 4
                                    pageSize: 20
                                    totalItems: 230
                                    totalPages: 12
                                referenceIdentifiers:
                                    - id: Dolor pariatur possimus eius.
                                      type: Dignissimos ad commodi non cupiditate fugiat.
                                    - id: Dolor pariatur possimus eius.
                                      type: Dignissimos ad commodi non cupiditate fugiat.
                                    - id: Dolor pariatur possimus eius.
                                      type: Dignissimos ad commodi non cupiditate fugiat.
                                scanTool: owasp
                                severityCode: High
                                targetType: Fugiat quo quo consequatur.
                                title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
                            schema:
                                $ref: '#/components/schemas/FrontendAllIssuesDetailsResponseBody'
                    description: OK response.
                "400":
                    content:
                        application/json:
                            example:
                                message: 'Bad Request: accountId parameter is required'
                                status: 400
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'BadRequest: Bad Request response.'
                "401":
                    content:
                        application/json:
                            example:
                                message: Unauthorized
                                status: 401
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'Unauthorized: Unauthorized response.'
                "403":
                    content:
                        application/json:
                            example:
                                message: Forbidden
                                status: 403
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'Forbidden: Forbidden response.'
                "429":
                    content:
                        application/json:
                            example:
                                message: Too Many Requests
                                status: 429
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'TooManyRequests: Too Many Requests response.'
                "500":
                    content:
                        application/json:
                            example:
                                message: Internal Server Error
                                status: 500
                            schema:
                                $ref: '#/components/schemas/NotFound'
                    description: 'InternalServerError: Internal Server Error response.'
            security:
                - jwt_header_Authorization:
                    - sto_issue_view
            tags:
                - Frontend
        x-internal: true
    /api/v2/frontend/all-issues/issues/{issueId}/targets/{targetId}:
        get:
            description: Provide list of filters for the latest scans of a baseline
            operationId: Frontend#AllIssuesOccurrenceDetails
            parameters:
                - allowEmptyValue: true
                  description: Harness Account ID
                  example: abcdef1234567890ghijkl
                  in: query
                  name: accountId
                  required: true
                  schema:
                    description: Harness Account ID
                    example: abcdef1234567890ghijkl
                    pattern: ^[a-zA-Z0-9_-]{22}$
                    type: string
                - allowEmptyValue: true
                  description: Harness Organization ID
                  example: example_org
                  in: query
                  name: orgId
                  required: true
                  schema:
                    description: Harness Organization ID
                    example: example_org
                    maxLength: 128
                    pattern: ^[A-Za-z_][A-Za-z0-9_]*$
                    type: string
                - allowEmptyValue: true
                  description: Harness Project ID
                  example: example_project
                  in: query
                  name: projectId
                  required: true
                  schema:
                    description: Harness Project ID
                    example: example_project
                    maxLength: 128
                    pattern: ^[A-Za-z_][A-Za-z0-9_]*$
                    type: string
                - allowEmptyValue: true
                  description: Page number to fetch (starting from 0)
                  example: 4
                  in: query
                  name: page
                  schema:
                    default: 0
                    description: Page number to fetch (starting from 0)
                    example: 4
                    format: int64
                    minimum: 0
[...]
